__pycache__/
*ckpt
wandb
runs
flagged
#optimizer.pt
#rng_state*
#scaler.pt
#scheduler.pt
#trainer_state.json
#training_args.bin
#pytorch_model.bin
# cpp out files
chat
quantize
*.o
*.a
Makefile
.idea
cmake*
CMakeCache.txt
CMakeFiles
.cmake*
Testing
.ninja*
build.*